<h1>Blog Posts</h1>
<!-- need <%= %> to print in ruby on web -->

<% @posts.each do |post| %>
<!-- to make link in ruby use build in function link_to helper[takes 2 parameters, title, where] -->
	<h3><%= link_to post.title,post %></h3>
	<p><%= post.body %></p>
	<hr>
<% end %>
<!-- creating a link to get to new post page -->
<%= link_to "Add new Post", new_post_path%>
